! __   __                                                              
!/\ \ /\ \                                                             
!\ `\`\/'/'  _ __    __    ____    ___   __  __    ___     __    ____  
! `\/ > <   /\`'__\/'__`\ /',__\  / __`\/\ \/\ \  /'___\ /'__`\ /',__\ 
! __ \/'/\`\\ \ \//\  __//\__, `\/\ \L\ \ \ \_\ \/\ \__//\  __//\__, `\
!/\_\/\_\\ \_\ \_\\ \____\/\____/\ \____/\ \____/\ \____\ \____\/\____/
!\/_/\/_/ \/_/\/_/ \/____/\/___/  \/___/  \/___/  \/____/\/____/\/___/ 

!Copy paste bindings
URxvt.keysym.Shift-Control-V: eval:paste_clipboard
URxvt.keysym.Shift-Control-C: eval:selection_to_clipboard
URxvt.keysym.Control-Meta-C: builtin-string: 
URxvt.keysym.Control-Meta-V: builtin-string: 
URxvt.iso14755: false

!General settings
URxvt.scrollBar: false
URxvt.internalBorder:  40
URxvt*font: xft:Hack:size=9:, xft:M+ 1c
URxvt.cursorBlink: True

!ROFI SETUP
rofi.hide-scrollbar: true

!COLORSCHMES
! special
*.foreground:   #ffffff
*.background:  #1d1f21

*.solid-background: #1d1f21
*.cursorColor:  #ffffff

*.highlight:    #fb3d66

*.color0:       #051519
*.color8:       #323b3e
*.color1:       #f8818e
*.color9:       #fb3d66
*.color2:       #84969a
*.color10:      #22292a
*.color3:       #97a6aa
*.color11:      #3e494c
*.color4:       #5e6f73
*.color12:      #a2b0b3
*.color5:       #677a7e
*.color13:      #e0e5e6
*.color6:       #7b8e93
*.color14:      #556468
*.color7:       #b3bec1
*.color15:      #f7f8f8



