! __   __                                                              
!/\ \ /\ \                                                             
!\ `\`\/'/'  _ __    __    ____    ___   __  __    ___     __    ____  
! `\/ > <   /\`'__\/'__`\ /',__\  / __`\/\ \/\ \  /'___\ /'__`\ /',__\ 
! __ \/'/\`\\ \ \//\  __//\__, `\/\ \L\ \ \ \_\ \/\ \__//\  __//\__, `\
!/\_\/\_\\ \_\ \_\\ \____\/\____/\ \____/\ \____/\ \____\ \____\/\____/
!\/_/\/_/ \/_/\/_/ \/____/\/___/  \/___/  \/___/  \/____/\/____/\/___/ 

!Copy paste bindings
URxvt.keysym.Shift-Control-V: eval:paste_clipboard
URxvt.keysym.Shift-Control-C: eval:selection_to_clipboard
URxvt.keysym.Control-Meta-C: builtin-string: 
URxvt.keysym.Control-Meta-V: builtin-string: 
URxvt.iso14755: false

!General settings
URxvt.scrollBar: false
URxvt.internalBorder:  40
URxvt*font: xft:Source Code Pro:size=9
URxvt.cursorBlink: True
URxvt*depth: 32

!ROFI SETUP
rofi.hide-scrollbar: true

!COLORSCHMES
! special
*.foreground:   #ffffff
*.background:  [50]#1d1f21
*.solid-background: #1d1f21
*.cursorColor:  #ffffff

*.highlight:    #966fbc

! black
*.color0:       #222827
*.color8:       #5d6f74

! red
*.color1:       #d5a8e3
*.color9:       #cd749c

! green
*.color2:       #7bbeab
*.color10:      #63b0b0

! yellow
*.color3:       #9898ae
*.color11:      #c0c0dd

! blue
*.color4:       #6e70e5
*.color12:      #5786bc

! magenta
*.color5:       #966fbc
*.color13:      #9358cd

! cyan
*.color6:       #a9d1df
*.color14:      #849da2

! white
*.color7:       #e6ebe5
*.color15:      #d9d6cf

